.container {
    position: relative;
}

.img-ban {
    width: 100%;
    height: 60vh;
}

.texto-resaltado {
    position: absolute;
    text-align: center;
    top: 50px;
}

.texto-resaltado > p {
    font-weight: bold;
    color: #999;
}

.bienvenida {
    margin: 12px 0;
    text-align: justify;
}

.img_1 {
    width: 150px;
    height: 150px;
}

footer {
    background-color: rgb(85, 194, 85);
    border-radius: 2px;
    border-bottom: 1px solid rgb(36, 122, 36);
    padding: 20px;
    display: flex;
    margin-top: 12px;
}

.pie {
    list-style: none;
    margin: 0 auto;
}

li {
    transition: .3s;
}

.pie > li:hover {
    transform: scale(1.1);
}

.proceso > img:hover {
    opacity: .9;
}




