.card-text {
    max-height: 30px;
    overflow: hidden;
}

button {
    border: none;
    text-decoration: underline;
    color: rgb(13, 151, 151);
    background-color: #fff;
}

img {
    width: 150px;
    height: 160px;
}

.contenedor_hijo {
    display: flex;
    justify-content: space-between;
}

.contenedor_hijo > a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.ant:hover {
    transform: translateX(-12px);
}

.sig:hover {
    transform: translateX(12px);;
}

.contenedor_hijo > a > img {
    width: 24px;
    height: 24px;
}

.reves {
    transform: rotate(180deg);
}
