body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

.contenedor_padre {
    width: 90%;
    margin: 0 auto;
}

.contenedor_hijo {
    display: flex;
    justify-content: space-between;
}

.contenedor_hijo > a > img {
    width: 24px;
    height: 24px;
}

.contenedor_hijo > a {
    text-decoration: none;
    color: #000;
}

.contenedor_hijo > a:hover {
    animation-name: movement_1;
    animation-duration: .5s;
}

.reves {
    transform: rotate(180deg);
}

@keyframes movement_1 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}